@define-color bg #181c1f;
@define-color fg #fdf9f8;
@define-color gray1 #9f6769;
@define-color gray2 #b18d85;
@define-color gray3 #b97670;
@define-color gray4 #bb6d6c;
@define-color gray5 #9a8c8a;
@define-color fg_bright #fdf9f8;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}